{% extends 'web/base.html' %}
{% load static %}

{% block title %}Proxynet - About{% endblock %}

{% block content %}
  <div class="container">
    <h1>About Us</h1>
    <p class="lead">Our team is thrilled to share our latest accomplishment – the successful completion of a website and app for our school project at ESIEE! This collaborative endeavor brought together our diverse talents, skills, and enthusiasm, resulting in a remarkable achievement that we are incredibly proud of.
From the very beginning, our goal was to create a seamless digital platform that would enhance the learning experience of students and facilitate communication among faculty, staff, and the entire school community. We recognized the importance of a user-friendly interface, intuitive navigation, and valuable features, and worked tirelessly to bring these elements to life.</p>

  <div class="row">
    <div class="col text-center mb-5">
      <h1>Meet our awesome team !</h1>
    </div>
  </div>
  <div class="row mb-4">
  <div class="col-md-6">
    <img src="https://picsum.photos/600" alt="Image 1" class="img-fluid">
  </div>
  <div class="col-md-6">
    <h2>Antonin Juquel</h2>
    <p class="lead">
    Meet our fantastic React developer, Antonin Juquel! He knows this framework like the back of his hand and is here to showcase his skills. If you're enjoying using the app, it's largely thanks to him and his expertise.
    </p>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-6">
    <h2>Raj Porus Hiruthayaraj</h2>
    <p class="lead">
    Meet our cool back-end guy, Raj Porus Hiruthayaraj! He's passionate about Python and Django, the only framework he's ever used. He's the one responsible for all the magic happening behind the scenes. If the logic of our application works flawlessly, you know exactly who to thank!
    </p>
  </div>
  <div class="col-md-6">
    <img src="{% static 'porus.jpg' %}" alt="Image 1" class="img-fluid">
  </div>

  <div class="row mb-4">
  <div class="col-md-6">
    <img src="{% static 'paul.png' %}" alt="Image 1" class="img-fluid w-100">
  </div>
  <div class="col-md-6">
    <h2>Paul Compagnon</h2>
    <p class="lead">
      Meet our skilled Docker expert and Front-end enthusiast, Paul Compagnon! With his profound knowledge of React Native, he brings a seamless user experience to our applications. If you find our app smooth and intuitive, Paul's expertise is the driving force behind it.
    </p>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-6">
    <h2>Hamza Si Bella</h2>
    <p class="lead">
      Meet Hamza Si Bella, our Server Orchestration maestro and Backend specialist! He possesses a deep understanding of managing and optimizing server infrastructure, ensuring smooth operations behind the scenes. Hamza's expertise keeps our application running efficiently, so you can enjoy a seamless user experience.
    </p>
  </div>
  <div class="col-md-6">
    <img src="{% static 'hamza.jpg' %}" alt="Image 1" class="img-fluid">
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-6">
    <img src="{% static 'william.jpg' %}" alt="Image 1" class="img-fluid">
  </div>
  <div class="col-md-6">
    <h2>William Demassias</h2>
    <p class="lead">
      At the heart of our backend development and quality testing, we have William Demassias. With his exceptional skills in backend technologies, he ensures the reliability and functionality of our applications. William's dedication to quality testing guarantees a robust and bug-free experience for our users.
    </p>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-6">
    <h2>Hadrien Conan</h2>
    <p class="lead">
      Introducing Hadrien Conan, our versatile Front-end React Native developer and Project Manager! With his proficiency in React Native, he crafts captivating user interfaces and delivers exceptional user experiences. Additionally, as a project manager, Hadrien ensures smooth coordination and successful project execution, making our app development process seamless and efficient.
    </p>
  </div>
  <div class="col-md-6">
    <img src="{% static 'hadrien.jpg' %}" alt="Image 1" class="img-fluid">
  </div>
</div>

  </div>
{% endblock %}