{% extends 'web/base.html' %}
{% load static %}

{% block title %}Proxynet - About{% endblock %}

{% block content %}
  <div class="container">
    <h1>About Us</h1>
    <p class="lead">Our team is thrilled to share our latest accomplishment – the successful completion of a website and app for our school project at ESIEE! This collaborative endeavor brought together our diverse talents, skills, and enthusiasm, resulting in a remarkable achievement that we are incredibly proud of.
From the very beginning, our goal was to create a seamless digital platform that would enhance the learning experience of students and facilitate communication among faculty, staff, and the entire school community. We recognized the importance of a user-friendly interface, intuitive navigation, and valuable features, and worked tirelessly to bring these elements to life.</p>

    <h1>Meet our awesome team !</h1>
    <div class="row mb-4">
  <div class="col-md-6">
    <img src="https://picsum.photos/600" alt="Image 1" class="img-fluid">
  </div>
  <div class="col-md-6">
    <h2>Antonin Juquel</h2>
    <p class="lead">
    Meet our fantastic React developer, Antonin Juquel! He knows this framework like the back of his hand and is here to showcase his skills. If you're enjoying using the app, it's largely thanks to him and his expertise.
    </p>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-6">
    <h2>Raj Porus Hiruthayaraj</h2>
    <p class="lead">
    Meet our cool back-end guy, Raj Porus Hiruthayaraj! He's passionate about Python and Django, the only framework he's ever used. He's the one responsible for all the magic happening behind the scenes. If the logic of our application works flawlessly, you know exactly who to thank!
    </p>
  </div>
  <div class="col-md-6">
    <img src="{% static 'porus.jpg' %}" alt="Image 1" class="img-fluid">
  </div>
  </div>
{% endblock %}