{% extends 'web/base.html' %}

{% block title %}About - My Website{% endblock %}

{% block content %}
  <div class="container">
    <h1>About Us</h1>
    <p class="lead">Our team is thrilled to share our latest accomplishment – the successful completion of a website and app for our school project at ESIEE! This collaborative endeavor brought together our diverse talents, skills, and enthusiasm, resulting in a remarkable achievement that we are incredibly proud of.
From the very beginning, our goal was to create a seamless digital platform that would enhance the learning experience of students and facilitate communication among faculty, staff, and the entire school community. We recognized the importance of a user-friendly interface, intuitive navigation, and valuable features, and worked tirelessly to bring these elements to life.</p>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://picsum.photos/200/300" alt="Student 1" class="card-img">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2>Student A</h2>
                <p>Contribution: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="row no-gutters">
            <div class="col-md-8">
              <div class="card-body">
                <h2>Student B</h2>
                <p>Contribution: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
            <div class="col-md-4">
              <img src="https://picsum.photos/200/300" alt="Student 2" class="card-img">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://picsum.photos/200/300" alt="Student 3" class="card-img">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2>Student C</h2>
                <p>Contribution: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="row no-gutters">
            <div class="col-md-8">
              <div class="card-body">
                <h2>Student D</h2>
                <p>Contribution: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
            <div class="col-md-4">
              <img src="https://picsum.photos/200/300" alt="Student 4" class="card-img">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://picsum.photos/200/300" alt="Student 5" class="card-img">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2>Student E</h2>
                <p>Contribution: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="row no-gutters">
            <div class="col-md-8">
              <div class="card-body">
                <h2>Student F</h2>
                <p>Contribution: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
            <div class="col-md-4">
              <img src="https://picsum.photos/200/300" alt="Student 6" class="card-img">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}