{% extends 'web/base.html' %}
{% load static %}

{% block title %}Proxynet - Home{% endblock %}

{% block content %}
  <!-- Page content -->
  <body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1 class="display-4">Welcome to Proxynet</h1>
      <p class="lead">Where Messages Travel Short Distances, but Friendships Go the Extra Mile!</p>
    </div>
    <div class="row">
      <div class="col-12">
        <img src="{% static 'presentation.png' %}" class="img-fluid ml-4 mb-5" alt="Image">
      </div>
    </div>

    <!-- Image and text section -->
    <div class="row mb-4">
      <div class="col-md-6">
        <img src="{% static 'crowded.jpg' %}" alt="Image 1" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h2>Text to strangers around you!</h2>
        <p class="lead">
          With Proxynet, you enter a realm of digital communication where distances collapse, and connections blossom within a 2-kilometer radius of your location. It's a platform that empowers you to reach out and text strangers nearby, forging bonds that transcend the virtual realm.
        </p>
        <p class="lead">
          When you send messages through Proxynet, you can rest assured that your identity remains anonymous. It's an opportunity to explore conversations, ideas, and stories with people you've never met before, yet share the same physical space. Engage in vibrant discussions, exchange thoughts, and discover commonalities, all while maintaining the freedom to express yourself openly.
        </p>
        <p class="lead">
          But here's the beauty of Proxynet: amidst the sea of anonymous interactions, the friendships you make are real. As conversations unfold, you have the chance to connect with individuals who may become an integral part of your life's journey. These newfound friends may walk the same streets, frequent the same cafes, or even be your neighbor, yet you might have never crossed paths otherwise.
        </p>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-6">
        <h2>Create chatroom for live events and places</h2>
        <p class="lead">
          With Proxynet, the possibilities for creating and joining chatrooms are boundless. Whether you're looking to connect with fellow students, event enthusiasts, or people who share a specific interest, Proxynet provides you with the platform to do just that. Imagine creating a chatroom dedicated to your beloved school, like ESIEE Paris, where you can engage with classmates, share insights, discuss assignments, or organize study groups. Proxynet brings together individuals in a shared virtual space, fostering a sense of community and collaboration within a specific place or event.
        </p>
        <p class="lead">
          Joining chatrooms on Proxynet allows you to immerse yourself in discussions centered around specific places or events. Are you attending a music festival, a local art exhibition, or a sporting event? By joining the corresponding chatroom, you can connect with like-minded individuals who are also present or interested in the same event. Share your excitement, exchange recommendations, plan meetups, or simply indulge in conversations that revolve around the shared experience. Proxynet transforms the way we engage with others during specific occasions, enabling real-time interactions and enhancing the overall enjoyment of the event.
        </p>
      </div>
      <div class="col-md-6">
        <img src="{% static 'chatrooms.png' %}" alt="Image 1" class="img-fluid">
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-6">
        <img src="{% static 'post.png' %}" alt="Image 1" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h2>Explore and share posts</h2>
        <p class="lead">
Proxynet offers a wide range of interactive features that allow users to create posts, comment on them, reply to comments, and express their preferences through likes and dislikes. With this platform, you can create posts related to specific locations, such as the Eiffel Tower, and make them visible only to people in the vicinity. This location-based approach ensures that your posts reach the right audience, fostering meaningful discussions and connections within a specific place or event.
        </p>
        <p class="lead">
          In addition to creating posts, Proxynet enables users to engage in lively conversations by commenting on existing posts. You can share your thoughts, insights, and opinions, creating a dynamic dialogue with others who have similar interests or experiences. Furthermore, you have the option to reply to comments, allowing for deeper interactions and the formation of connections with like-minded individuals. The ability to like or dislike posts and comments adds another layer of engagement, providing a simple and effective way to express your appreciation or express differing opinions within the community. Proxynet facilitates an inclusive and interactive environment where everyone's voice can be heard and valued.
        </p>
      </div>
    </div>

  </div>
  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted">Proxynet &copy; 2023</span>
      <span class="float-right">Version: {{ version }}</span>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

{% endblock %}
