{% extends 'web/base.html' %}
{% load static %}

{% block title %}Proxynet - Redoc{% endblock %}

{% block content %}
<body>
    <div class="container">
      <h1>Password Reset</h1>
      {% if message %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
      {% endif %}
      <form method="POST" action="{% url 'password-reset' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
      </form>
    </div>
    <!-- Add Bootstrap JS link here -->
  </body>
{% endblock %}
