{% extends 'web/base.html' %}

{% block title %}Proxynet - FAQ{% endblock %}

{% block content %}
<head>
    <title>FAQ Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .question {
            font-size: 20px;
            font-weight: bold;
        }
        .answer {
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Frequently Asked Questions</h1>
        <div class="accordion mt-4" id="faqAccordion">
            <div class="card">
                <div class="card-header" id="questionOne">
                    <h5 class="mb-0">
                            How can I delete my data?
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="questionOne" data-parent="#faqAccordion">
                    <div class="card-body answer">
                        To ensure the complete deletion of your user data, we have established a simple and secure process. By sending an email to <a href="mailto:somindras.dev@gmail.com">somindras.dev@gmail.com</a>, you can request the removal of all your personal information from our system.
                        <br><br>
                        When you request data deletion, the following information will be permanently removed from our database:
                        <ul>
                            <li>Messages Sent in the General Space: All the messages you have sent in the general discussion space will be deleted. This includes any posts, comments, or replies you have made.</li>
                            <li>Comments and Replies: Any comments or replies you have posted on other users' content will be completely removed.</li>
                            <li>Posts You Have Created: All the posts you have created will be permanently deleted from our platform.</li>
                            <li>Chatrooms: If you have created any chatrooms, all associated messages will be erased. This includes any messages sent within those chatrooms.</li>
                            <li>Messages Sent in Chatrooms: Any messages you have sent within chatrooms, whether created by you or others, will be removed from our system.</li>
                            <li>Private Conversations: All private conversations you have had with other users will be deleted, ensuring the privacy of your communication.</li>
                            <li> All the details of your account, which includes your name, email, and all the information you have provided in your profile, will be permanently removed from our system.</li>
                        </ul>
                        We understand the importance of safeguarding your personal information, and we take privacy seriously. Rest assured that once you request data deletion, we will handle your request promptly and ensure the irreversible removal of your data from our platform.
                        <br><br>
                        If you have any further questions or concerns regarding data deletion or any other matter, please don't hesitate to contact us at <a href="mailto:somindras.dev@gmail.com">somindras.dev@gmail.com</a>. We are here to assist you and prioritize your privacy and data protection.
                    </div>
                </div>
            </div>
            <!-- Add more FAQs here -->
        </div>
    </div>
</body>
{% endblock %}
