{% extends 'web/base.html' %}

{% block title %}Proxynet - FAQ{% endblock %}

{% block content %}
<head>
    <title>FAQ Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .question {
            font-size: 20px;
            font-weight: bold;
        }
        .answer {
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Frequently Asked Questions</h1>
        <div class="accordion mt-4" id="faqAccordion">
            <div class="card">
                <div class="card-header" id="questionOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link question" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            How can I delete my data?
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="questionOne" data-parent="#faqAccordion">
                    <div class="card-body answer">
                        To delete your data, please send an email to <a href="mailto:somindras.dev@gmail.com">somindras.dev@gmail.com</a> and our team will assist you with the process.
                    </div>
                </div>
            </div>
            <!-- Add more FAQs here -->
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock %}